---
title: "Procyon Clan"
layout: splash
permalink: /
date: 2022-06-22T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/procyon_banner.png
excerpt: "We are a welcoming community bla bla bla bla bla bla bla blbla bla bla blbla bla bla blbla bla bla blbla bla bla blbla bla bla blbla bla bla blbla bla bla bl."
intro: 
  - excerpt: 'This is an intro message'
feature_row:
  - image_path: assets/images/clan_banner.png
    alt: "Destiny Clans"
    title: "We are recruiting!"
    excerpt: "If you are looking for a commited community of guardians join us!"
    url: "https://www.bungie.net/en/ClanV2?groupid=4655183"
    btn_label: "Join Clan"
    btn_class: "btn-primary"
  - image_path: assets/images/discord_banner.jpg
    alt: "Join us at our Discord server"
    title: "Join us at our Discord server"
    excerpt: "Interested in knowing more about us? Join us on our Discord server, everyone is welcome!"
    url: "https://discord.gg/QesqNTmy88"
    btn_label: "Join Discord"
    btn_class: "btn--primary"
  - image_path: /assets/images/unsplash-gallery-image-3-th.jpg
    title: "Placeholder 3"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
feature_row2:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Left Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Right Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Right aligned with `type="right"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Center Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}